# --- AZURE CREDENTIALS ---
# Run `az login` to authenticate Azure
PRIMARY_SUBSCRIPTION_ID="777709f3-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
SECONDARY_SUBSCRIPTION_ID="39f141c9-XXXX-XXXX-XXXX-XXXXXXXXXXXX"
AZURE_TENANT_ID="0608a4ca-XXXX-XXXX-XXXX-XXXXXXXXXXXX"

# --- DEPLOYMENT VARIABLES ---
RESOURCE_GROUP_NAME="rg-azure-finops"
LOCATION="eastus2"
ALERT_EMAIL_ADDRESS="admin@example.com"
